*.log
*.int
*.rsc
*.dmb
*.lk
teste.bat
info.json
/code/global.dm
/config/**/*
/statistics
/deletions
/data/**/*
/tools/
/nodejs/
/.vscode/settings.json
/tools/autosplit/export
tools/autosplit/autosplit.rsc
tools/autosplit/autosplit.int
tools/autosplit/autosplit.dyn.rsc
tools/autosplit/autosplit.dme
tools/autosplit/autosplit.dyn.rsc
tools/autosplit/autosplit.int
tools/autosplit/autosplit.rsc
tools/autosplit/autosplit.rsc
broken_eyes.txt
broken_hair.txt
broken_hands.txt
broken_head.txt
broken_mask.txt
broken_shoes.txt
broken_suit.txt
broken_uniform.txt
config/in_character_filter.txt
code/global.dm
config/**/*
data/**/*