*.log
*.int
*.rsc
*.dmb
*.lk
teste.bat
info.json
/config/admins.txt
/config/moderators.txt
/config/dbconfig.txt
/statistics
/deletions
/data/logs
/data/player_saves
/data/ban_unban_log.txt
/data/investigate
/tools/
config/admins.txt
data/banlist.bdb
/nodejs/
/.vscode/settings.json
/tools/autosplit/export
tools/autosplit/autosplit.rsc
tools/autosplit/autosplit.int
tools/autosplit/autosplit.dyn.rsc
tools/autosplit/autosplit.dme
tools/autosplit/autosplit.dyn.rsc
tools/autosplit/autosplit.int
tools/autosplit/autosplit.rsc
tools/autosplit/autosplit.rsc
broken_eyes.txt
broken_hair.txt
broken_hands.txt
broken_head.txt
broken_mask.txt
broken_shoes.txt
broken_suit.txt
broken_uniform.txt
